.centrer{
position:relative;
width:250px;
margin:0 auto;
border:inset;
}

h1{
text-align:center;
}

.donnee{
padding-top:15px;
padding-bottom:15px;
}


label{
margin-left:20px;
width:200px;
}

input{
margin-top:5px;
margin-left:20px;
width:200px;
border: 1px solid grey;
}


#mess{
margin-top:5px;
margin-left:20px;
width:200px;
height:150px;
}


#bouton{
width:200px;
height:35px;
margin-top:5px;
margin-left:20px;
}
